:root{

    --color-de-base   : #FFFFFF;
    --color-back      : #242325;
    --color-principal : #00ACE5;
    --color-secondaire: #BF1867;

}
*{
    margin: auto;
}

section{

    text-align: center;
    background-color : var(--color-back);
}

.textimg{
    border : 2px solid  var(--color-principal);
    width: 30vw;
    box-shadow: 10px 5px 3px 0px rgba(0,0,0,0.6);
    
}
.titreimg{

    border : 2px solid  var(--color-secondaire);
    width: 15vw;
    border-radius: 5px;

}

.texteven{

    border : 2px solid  var(--color-principal);

}